body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(4, 37, 8), green 20%, green 80%, rgb(4, 37, 8));
}
.computerHand{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5vh;
    align-items: baseline;
    transition: 0.3s;
    align-items: end;
}
.cardback{
    margin: 5px;
    width: 190px;
    height: 250px;
    min-width: 190px;
    min-height: 250px;
    background-image: url("./cardback.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
    display: inherit;
}
@keyframes reveal-card-emperor {
    10% {
        width: 220px;
        height: 290px;
        min-width: 220px;
        min-height: 290px;
        box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    }
    30% {
        background-image: url("./cardback.png");
        transform: rotate3d(0,1,0, 90deg) scaleX(1); 
    }
    31% {
        background-image: url("./emperor.jpg");
        transform: rotate3d(0,1,0, 90deg) scaleX(-1); 
    }
    100%{
        background-size: 100% 100%;
      background-image: url("./emperor.jpg");
      transform: rotate3d(0,1,0, 180deg) scaleX(-1); 
      width: 220px;
        height: 290px;
        min-width: 220px;
        min-height: 290px;
        box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75); 
    }
}
@keyframes reveal-card-slave {
    10% {
        width: 220px;
        height: 290px;
        min-width: 220px;
        min-height: 290px;
        box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    }
    30% {
        background-image: url("./cardback.png");
        transform: rotate3d(0,1,0, 90deg) scaleX(1); 
    }
    31% {
        background-image: url("./slave.jpg");
        transform: rotate3d(0,1,0, 90deg) scaleX(-1); 
    }
    100%{
        background-size: 100% 100%;
      background-image: url("./slave.jpg");
      transform: rotate3d(0,1,0, 180deg) scaleX(-1); 
      width: 220px;
        height: 290px;
        min-width: 220px;
        min-height: 290px;
        box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75); 
    }
}
@keyframes reveal-card-citizen {
    10% {
        width: 220px;
        height: 290px;
        min-width: 220px;
        min-height: 290px;
        box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    }
    30% {
        background-image: url("./cardback.png");
        transform: rotate3d(0,1,0, 90deg) scaleX(1); 
    }
    31% {
        background-image: url("./citizen.jpg");
        transform: rotate3d(0,1,0, 90deg) scaleX(-1); 
    }
    100%{
        background-size: 100% 100%;
      background-image: url("./citizen.jpg");
      transform: rotate3d(0,1,0, 180deg) scaleX(-1); 
      width: 220px;
        height: 290px;
        min-width: 220px;
        min-height: 290px;
        box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75); 
    }
}
.result{
    animation: show-turn-result 2s forwards;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
    width: fit-content;
    font-size: 80px;
    display: none;
}
@keyframes show-turn-result{
    0% { opacity: 0 }
    20% { opacity: 1}
    80% { opacity: 1}
    100% { opacity: 0}
}
.score{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
    height: 100px;
    width: fit-content;
    background-color: rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-width: 10px;
    border-color: rgb(82, 76, 76);
    border-style: groove;
    align-content: center;
    z-index: 0;
}
#bet-amount{
    background-color: black;
    color: rgb(255, 255, 52);
    font-family: 'Gugi', cursive;
    font-size: 50px;
    border: none;
    width: 200px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .score > div{
        color: rgb(255, 255, 52);
        height: 150px;
        font-family: 'Gugi', cursive;
        font-size: 20px;
        line-height: 100px;
        margin: 0 5px;
        text-shadow:
        2px 2px 0 #000;
    }
}
.score > div{
    color: rgb(255, 255, 52);
    height: 150px;
    font-family: 'Gugi', cursive;
    font-size: 50px;
    line-height: 100px;
    margin: 0 5px;
    text-shadow:
    2px 2px 0 #000;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#score-display{
    background-color: black;
    height: 80px;
    margin-top: 10px;
    line-height: 80px;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
}
.playerHand{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5vh;
    align-items: baseline;
    transition: 0.3s;
}
.card{
    margin: 5px;
    width: 190px;
    height: 250px;
    min-width: 190px;
    min-height: 250px;
    background-image: url("./citizen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s;
}
#emperor{
    background-image: url("./emperor.jpg");
}
#slave {
    background-image: url("./slave.jpg");
}
.card:hover{
    width: 220px;
    height: 290px;
    min-width: 220px;
    min-height: 290px;
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
}